
table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    text-indent: initial;
    width: 80%;
    border: 0px;
    table-layout: auto;
    user-select: none;
}

.col-1 {
    width: 10rem;
    min-width: 7rem;
    max-width: 12.5rem;
}

thead {
    display: table-header-group;
    border-color: inherit;
}

.cel-1{
    overflow: visible;
    overflow-wrap: break-word;
    font-weight: normal;
    padding: 0px;
    position: sticky;
    left: 0px;
    z-index: 2;
    text-overflow: ellipsis;
    word-break: break-word;
    background-color: var(--palette-background-primary);
}

th, td {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
    border: 1px solid var(--gray); /* Replace with specific color value */
    background-color: var(--white); /* Replace with specific color value */

}


/* Color variables */
:root {
    --white-smoke: #F0F0EF;
    --gray: #333333;
    --school-bus-yellow: #FEDD13;
    --white: #FFFFFF;
    --davys-gray: #58595B;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

/* Custome body style */
body {
    
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray);
    background-color: var(--white-smoke);
    padding-top: 50px;
    line-height: 1.5rem;
}

/* Custome link style */
a {
    text-decoration: none;
    color: var(--gray);
}


